#wizard {
  width: 100%;
  display: flex;
  padding: 2.445rem;
  background: rgb(26, 28, 147);
}

#wizard .step {
  width: 25%;
  color: #ffffff;
  position: relative;
}

#wizard .step.process::before {
  content: '';
  position: absolute;
  width: 14.5rem;
  height: 5px;
  right: -7.3rem;
  bottom: 3.85rem;
  /* transition: 1s; */
  background-color: #ffffff;
}

#wizard > .step > .inner_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.720rem;
  font-size: 1.17rem;
  font-family: 'Roboto';
}

#wizard .icon_step {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: rgb(26, 28, 147);
  background: #ffffff;
}

#wizard .icon_step > i {
  font-size: 1.476rem;
}

.unprocessed {
  color: #bcbbbb !important;
}

.unprocessed .icon_step {
  background: #bcbbbb !important;
}

.icon_step.active {
  background: #ffffff !important;
  border: 5px solid #2c63ee;
}

#wizard .unprocessed.process::before {
  background: #bcbbbb !important;
}

@media (max-width: 1380px) {
  #wizard .step.process::before {
    width: 10.5rem;
    right: -5.250rem;
    /* transition: 1s; */
  }
}

@media (max-width: 1120px) {
  #wizard .step.process::before {
    width: 8.5rem;
    right: -4.250rem;
    /* transition: 1s; */
  }
}

@media (max-width: 992px) {
  #wizard .step.process::before {
    width: 5.5rem;
    right: -2.825rem;
  }
}

@media (max-width: 768px) {
  #wizard .step.process::before {
    width: 3.5rem;
    right: -1.425rem;
    bottom: 3.1rem;
  }

  #wizard > .step > .inner_content {
    font-size: 1rem;
    transition: 1s;
  }

  #wizard .icon_step {
    width: 40px;
    height: 40px;
    transition: 1s;
  }

  #wizard .icon_step > i {
    font-size: 1rem;
    transition: 1s;
  }
}

@media (max-width: 576px) {
  #wizard .step.process::before {
    width: 2.1rem;
    right: -1.125rem;
    bottom: 1.1rem;
  }

  .step_detail {
    display: none;
  }
}