.dt-length {
    display: flex !important;
    justify-content: start !important;
    align-items: center !important;
    gap: 8px !important;
}

.dt-search {
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;
    gap: 8px !important;
}

.dt-paging {
    color: #ffffff !important;
}

.dt-paging .dt-paging-button.current {
    border: none !important;
    padding: 12px 24px !important;
    border-radius: 8px !important;
    text-decoration: none !important;
    cursor: pointer !important;
    background-color: #0a73b0 !important;
}

input[type="search"] {
    padding: 8px 18px !important;
}

.dataTables_wrapper {
    margin: 0;
    padding: 24px 0 !important;
    gap: 20px !important;
}

.dataTables_wrapper .row:nth-child(1) {
    display: none !important;
}

.dataTables_wrapper .row:nth-child(2) {
    max-width: fit-content !important;
    align-items: center;
}

.dataTables_wrapper .row:nth-child(3) {
    overflow: auto !important;
}
    
.dataTables_wrapper .row:nth-child(3) div {
    margin: 0 !important;  
    padding: 0 !important;
    overflow-x: auto;
}

.dataTables_length  {
    width: 0 !important;
}

.dataTables_length > label > select {
    padding: 12px 18px !important;
    border-radius: 16px;
}

.dataTables_filter {
    justify-content: flex-start !important;
}

@media (min-width: 576px) {
    .dataTables_filter {
        margin-left: -10px;
    }
}

.dataTables_filter > label {
    font-size: 1.35rem;
    color: #717171;
}

.dataTables_filter > label > input {
    width: 285px !important;
    border-radius: 16px;
    padding: 12px 22px !important;
}

.dataTables_filter > label > input::placeholder {
    opacity: 0.5;
}

.btn {
    z-index: 99;
}

/* Custom table */

.table > thead {
    background-color: #7f7f80 !important;
}