:root {
    --dt-row-selected: 183, 182, 180;
}

.dt-length {
    display: flex !important;
    justify-content: start !important;
    align-items: center !important;
    gap: 8px !important;
}

.dt-search {
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;
    gap: 8px !important;
}

.dt-paging {
    color: #ffffff !important;
}

.dt-paging .dt-paging-button.current {
    border: none !important;
    padding: 12px 24px !important;
    border-radius: 8px !important;
    text-decoration: none !important;
    cursor: pointer !important;
    background-color: #0a73b0 !important;
}

input[type="search"] {
    padding: 8px 18px !important;
}

.dataTables_wrapper {
    padding: 24px 0 !important;
    gap: 20px !important;
}

.dataTables_wrapper .row:nth-child(1) {
    display: none !important;
}

.dataTables_wrapper .row:nth-child(3) {
    overflow: auto !important;
}

.table tbody tr .selected {
    box-shadow: inset 0 0 0 9999px rgba(191, 196, 201, 0.95);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 0.65);
}
